.game-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-game-button {
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 10px;
    width: 100px;
}

.start-game-button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.waldo-image.menu {
    height: 400px;
}